body {
  background-color: aliceblue;

}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* .form-label {
  font-size: 18px;
  margin-bottom: 180px;
}

.form-main {
  width: 400px;
  align-items: center;
  text-align: center;
  padding: 6px 12px;
  border-radius: 12px;
  justify-content: center;
  background: #afd2d3;
}

.form-input {
  padding: 6px 12px;
  width: 80%;
  border-radius: 12px;
  border: 1px solid #504f4f;
  outline: none;
  margin-top: 22px;
}
.input-main{
  gap: 12px;
  display: flex;
}

.input-main button{
 background-color: black;
 color: white;
 font-size: 22px;
 height: 30px;
 width: 30px;
 margin-top: 22px;
 border: none;
 border-radius: 10px;
 cursor: pointer;
} */

.todo-main {
  width: 400px;
  background-color: rgb(161, 186, 233);
  border-radius: 16px;
  padding: 12px;
}

.input-main input {
  padding:  12px;
  border: 1px solid#919191cc;
  width: 80%;
  border-radius: 12px;
  margin-top: 20px;
  outline: none;
}

.input-main button {

  background-color: black;
  color: #fff;
  padding: 6px;
  font-size: 22px;
  border: none;
  border-radius: 22px;
  width: 28px;
  height: 38px;
  margin-top: 22px;
  margin-left: 12px;
  cursor: pointer;
}